@import "./Styles/variables";
@import "./Styles/mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $background-color;
}

h1 {
  font-size: 26px;
  color: $dark-blue;

  @include respond-medium {
    font-size: 15px;
  }
}

select {
  height: 2rem;
  text-align: center;
  width: 75%;
}

.form-wrapper {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;

  @include respond-medium {
    flex-wrap: wrap;
  }
}

form {
  @include form;
}

.error-container {
  display: flex;
  justify-content: center;
}

.error-container::after {
  border-color: #ffffff !important;
}

.error {
  color: $error-color;
  font-size: 0.75rem;
  text-align: right;
  // margin-top: 0.25rem;
  background-color: rgb(242, 203, 203);
}

.input-error {
  border-color: $error-color;
}

.checkbox {
  @include checkbox;
}

input {
  width: 75%;
}

input,
label {
  padding: 5px 10px;
  margin: 8px 0;
}

label {
  font-size: 14px;
  font-weight: 200;
  margin: 2px;
  font-weight: bold;
  text-align: left;
}

button {
  color: white;
  background-color: $btn-color;
  margin: 2%;
  width: min-content;
  border-radius: 2px;
  height: 2rem;
  @include mx-auto;
}

textarea,
.addDetails {
  @include mx-auto;
  display: block;
  width: 85%;
  height: 10rem;
  resize: none;
  padding: 5px;
  border-radius: 3px;
}

button:disabled {
  @include btn-loading;
}

img {
  width: 300px;
  height: 75%;
  object-fit: fill;
}

aside {
  margin: 5%;
}

@include outlineFocus("text");
@include outlineFocus("email");
@include outlineFocus("checkbox");
